.layout {
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  justify-content: center;

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
  }
}
